# Existing mappings can be found using : or the documentation
next_page u
previous_page i
next_state <S-<backspace>>
next_item <return>
previous_item <S-<return>>
zoom_in =
zoom_out -

# Ensure that top of first page and (not working) bottom of last page are appropriately positioned
goto_begining;goto_top_of_page gg

goto_definition gd
overview_definition go
enter_visual_mark_mode v
keyboard_select <S-v>

open_last_document <C-6>

# This will regard the empty space for multicolumn pdfs
goto_left_smart ,
goto_right_smart .

toggle_presentation_mode <C-l>

