# Potentially useful preferences
# collapsed_toc 1
# dark_mode_contrast 0.6
# single_click_selects_words 1
# default_dark_mode 1
linear_filter 1
should_launch_new_window 1
page_separator_width 1
page_separator_color 0.5 0.5 0.5
vertical_move_amount 1
check_for_updates_on_startup 1

# Startup Commands
startup_commands fit_to_page_height;goto_begining;goto_top_of_page

# New Commands from python extensions (Simply point python to appropriate virtual environment executable)
new_command _download_paper /home/soumilgurjar/.local/share/virtualenvs/sioyek_env-qTp-bYaj-python/bin/python -m sioyek.paper_downloader download "%{sioyek_path}" "%{paper_name}"
new_command _dual_panelify /home/soumilgurjar/.local/share/virtualenvs/sioyek_env-qTp-bYaj-python/bin/python -m sioyek.dual_panelify "%{sioyek_path}" "%{file_path}" "%{command_text}"
new_command _embed_annotations /home/soumilgurjar/.local/share/virtualenvs/sioyek_env-qTp-bYaj-python/bin/python/Users/sgurjar/VirtualEnvs/sioyek_extensions/bin/python -m sioyek.embed_annotations "%{sioyek_path}" "%{local_database}" "%{shared_database}" "%{file_path}"
new_command _translate_selected_text /home/soumilgurjar/.local/share/virtualenvs/sioyek_env-qTp-bYaj-python/bin/python/Users/sgurjar/VirtualEnvs/sioyek_extensions/bin/python -m sioyek.translate "%{sioyek_path}" "%{selected_text}"
new_command _translate_current_line_text /home/soumilgurjar/.local/share/virtualenvs/sioyek_env-qTp-bYaj-python/bin/python/Users/sgurjar/VirtualEnvs/sioyek_extensions/bin/python -m sioyek.translate "%{sioyek_path}" "%{line_text}"

# This is actually Cmd+left-click on a mac
alt_click_command _download_paper
control_right_click_command synctex_under_cursor
alt_right_click_command _translate_selected_text

# Bionic Reading (start with toggle_fastread command in app)
text_summary_should_refine 1
text_summary_should_fill 1
text_summary_context_size 40
use_heuristic_if_text_summary_not_available 1
# fastread_opacity 0.4

