[user]
    name = Soumil Gurjar
    email = 95701317+soumilgurjar@users.noreply.github.com
[github]
    user = soumilgurjar
[core]
    editor = vim
    whitespace = fix,-indent-with-non-tab,trailing-space,cr-at-eol
    excludesfile = ~/.gitignore
    autocrlf = input
[web]
    browser = google-chrome
[color]
    ui = auto
[color "branch"]
    current = yellow bold
    local = green bold
    remote = cyan bold
[color "diff"]
    meta = yellow bold
    frag = magenta bold
    old = red bold
    new = green bold
    whitespace = red reverse
[color "status"]
    added = green bold
    changed = yellow bold
    untracked = red bold
[alias]
    lg = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %C(white)- %an, %ar%Creset'
    df = difftool
    ; lg = log --graph --pretty=format:'%C(yellow)%h%C(auto)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --branches
    l = log --pretty=format:'%<|(16)%C(yellow)%h %Cblue%ad %Creset%s%Cgreen [%cn] %Cred%d' --decorate --date=short --graph
    amend = commit --amend --reuse-message=HEAD
    d = "!f() { git diff --patch-with-stat HEAD~$1; }; git diff-index --quiet HEAD -- || clear; f"
    fixup = "!f() { git rebase -i HEAD~$1; }; f"
    unstage = reset HEAD
    unmerge = reset --hard HEAD
    here = !git init && git add . && git commit -m \"Init repo\"
[init]
    defaultBranch = master
[credential]
    helper = store
[diff]
    tool = vimdiff
    guitool = diffmerge
    submodule = log
    ; algorithm = patience
    ; algorithm = minimal
    algorithm = histogram
    indentHeuristic = true
    colorMoved = default
[difftool]
    prompt = false
[merge]
    tool = vimdiff
    guitool = diffmerge
    conflictstyle = diff3
