[includeIf "gitdir:~/Github_Repositories/"] # include for all .git projects under Github_Repositories/
path = ~/.gitconfig-github

[includeIf "gitdir:~/.dotfiles/"] # include for all .git projects under ~/.dotfiles/
path = ~/.gitconfig-github

[includeIf "gitdir:~/Gitlab_Repositories/"] # include for all .git projects under Gitlab_Repositories/
path = ~/.gitconfig-gitlab
